force-app/main/default/flows/Elision_Callback_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>FollowUp</name>
        <choiceText>Follow Up (&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Elision_Campaign_Details.CampaignId_FollowUp__c})&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Elision_Campaign_Details.CampaignId_FollowUp__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>WH</name>
        <choiceText>WH ({!Elision_Campaign_Details.Campaign_Id_WH__c})</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Elision_Campaign_Details.Campaign_Id_WH__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Is_Opp_Or_Lead</name>
        <label>Is_Opp_Or_Lead</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp</targetReference>
            </connector>
            <label>Is Opp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Elision Callback Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Elision Callback Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Elision_Activity</name>
        <label>Create Elision Activity</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>Campaign_Id__c</field>
            <value>
                <elementReference>Elision_Campaign_Details.CampaignId_FollowUp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Name__c</field>
            <value>
                <elementReference>Elision_Campaign_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elision_Campaign__c</field>
            <value>
                <elementReference>Elision_Campaign_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elision_Due_Date__c</field>
            <value>
                <elementReference>Call_Back_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elison_CallBack_Time__c</field>
            <value>
                <elementReference>Call_Back_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120T000000D9oWQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Elision Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Elision_Campaign_Details</name>
        <label>Elision Campaign Details</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Elision_Callback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Elision_Campaign_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp.Elision_Campaign_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Elision_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Elision_Campaign_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Elision_Callback</name>
        <label>Elision Callback</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Elision_Activity</targetReference>
        </connector>
        <fields>
            <name>Call_Back_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Call Back Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Callback date must be in future and within 5 days from today&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Call_Back_Date_Time}&gt;{!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CurrentCampaign</name>
            <fieldText>&lt;p&gt;{!Get_Opp.Elision_Campaign_Category__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Campaign_Type</name>
            <choiceReferences>FollowUp</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>FollowUp</defaultSelectedChoiceReference>
            <fieldText>Campaign Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Opp_Or_Lead</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
